<div class="content">
    {{#ifvalue user.role equals="ADMIN"}}
    <nav class="navbar navbar-expand-lg">
        <h4>Chào Quản trị viên</h4>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarToggleExternalContent" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/writer"><b>
                            {{#if user }}
                            {{ user.name }}
                            {{else}}
                            Trang Quản trị
                            {{/if}}
                        </b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/employee/admins/logout"><b>Đăng
                            xuất</b></a>
                </li>
            </ul>
        </div>
    </nav>
    {{/ifvalue}}
    <h4>Người đăng kí kênh</h4>

    {{#if success_msg}}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ success_msg }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {{/if}}

    {{#if error_msg}}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ error_msg }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {{/if}}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Account</th>
                <th>Name</th>
                <th>Email</th>
                <th colspan="2"></th>
            </tr>
        </thead>

        <tbody>
            {{#each subscribers}}
            <tr>
                <td>{{ generateTime startDay "MMMM Do YYYY" }} - {{ generateTime endDay "MMMM Do YYYY" }}</td>
                <td>{{name}}</td>
                <td>{{email}}</td>
                <td style="text-align: center;"><a href="/employee/admins/dashboard/subscriber/edit/{{_id}}"
                        class="btn btn-warning">Edit</a>
                </td>
                <td>
                    <button class="btn btn-danger" data-toggle="modal" data-target="#tableModal{{_id}}">Từ chối</button>
                    <form action="/employee/admins/dashboard/subscriber/ban/{{_id}}?_method=DELETE" method="POST">
                        <div class="modal fade" id="tableModal{{_id}}" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Bạn có muốn ban người dùng này ?
                                        </h5>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-info" data-dismiss="modal">Thôi</a></button>
                                        <button type="submit" class="btn btn-danger">Ban</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>