
{{#each posts}}
<div style="display: flex; justify-content:center">
    <div class="single-blog-post d-flex style-3 mb-30">
        <div class="post-thumbnail">
            <img src="/uploads/{{image}}" alt="">
        </div>
        <div class="post-content">
            <a href="/home/{{id}}" class="post-title">{{title}}</a>
            <div class="post-meta d-flex">
                <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> {{views}}</a>
                <a href="#"><i class="fa fa-tag" aria-hidden="true"></i> {{tag}}</a>
            </div>
        </div>
    </div>
</div>
{{/each}}