<div class="content" style="font-family: 'Noto Sans JP'">
    {{#ifvalue user.role equals="WRITER"}}
    <nav class="navbar navbar-expand-lg">
        <h5>Chào {{user.name}}</h5>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarToggleExternalContent" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/writer"><b>
                            {{#if user }}
                            {{ user.name }}
                            {{else}}
                            Trang Writer
                            {{/if}}
                        </b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/employee/writers/logout"><b>Đăng
                            xuất</b></a>
                </li>
            </ul>
        </div>
    </nav>

    <form action="/employee/writers/dashboard/profile/{{user._id}}?_method=PUT" method="POST" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-12">
                <label class="bmd-label-floating">Email</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button type="button" class="btn btn-prepend">
                            <i class="fa fa-envelope-o"></i>
                        </button>
                    </div>
                    <input name="email" type="email" class="form-control" placeholder="Email" aria-label="Email"
                        aria-describedby="basic-addon1" value="{{user.email}}">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <label class="bmd-label-floating">User name</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button type="button" class="btn btn-prepend">
                            <i class="fa fa-user-o"></i>
                        </button>
                    </div>
                    <input name="name" type="text" class="form-control" value="{{user.name}}" placeholder="Username"
                        aria-label="Username" aria-describedby="basic-addon1" required>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label class="bmd-label-floating">Avatar</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button type="button" class="btn btn-prepend">
                            <i class="fa fa-file-image-o"></i>
                        </button>
                    </div>
                    <input type="file" class="form-control" placeholder="Image" id="writerAvt" name="avatar"
                        aria-describedby="basic-addon1">
                </div>
            </div>

            <div class="col-md-6">
                <label class="bmd-label-floating">Gender</label>
                <div class="input-group mb-3">
                    <button type="button" class="btn btn-prepend">
                        <i class="fa fa-transgender"></i>
                    </button>
                    <select class="custom-select" id="genderInputGroup" name="Gender">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                    </select>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label class="bmd-label-floating">Address</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button type="button" class="btn btn-prepend">
                            <i class="fa fa-address-book-o"></i>
                        </button>
                    </div>
                    <input type="text" class="form-control" value="TPHCM" placeholder="Địa chỉ" aria-label="Address"
                        aria-describedby="basic-addon1">
                </div>
            </div>

            <div class="col-md-6">
                <label class="bmd-label-floating">Company</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button type="button" class="btn btn-prepend">
                            <i class="fa fa-building-o"></i>
                        </button>
                    </div>
                    <input type="text" class="form-control" value="HCMUS" placeholder="Company" aria-label="Company"
                        aria-describedby="basic-addon1">
                </div>
            </div>
        </div>

        <div style="display:flex; justify-content:center;" class="mt-4">
        <button type="submit" style="text-align:center" class="btn-blue">
            Update Profile
        </button>
        </div>


    </form>
    {{/ifvalue}}

    {{#ifvalue user.role equals="EDITOR"}}

    <nav class="navbar navbar-expand-lg">
        <h4>Chào Biên tập viên</h4>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarToggleExternalContent" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/writer"><b>
                            {{#if user }}
                            {{ user.name }}
                            {{else}}
                            Trang Editor
                            {{/if}}
                        </b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/employee/editors/logout"><b>Đăng
                            xuất</b></a>
                </li>
            </ul>
        </div>
    </nav>
    <form action="/employee/editors/dashboard/profile/{{user._id}}?_method=PUT" method="POST" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-12">
                <label class="bmd-label-floating">Email</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button type="button" class="btn btn-prepend">
                            <i class="fa fa-envelope-o"></i>
                        </button>
                    </div>
                    <input name="email" type="email" class="form-control" placeholder="Email" aria-label="Email"
                        aria-describedby="basic-addon1" value="{{user.email}}">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <label class="bmd-label-floating">User name</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button type="button" class="btn btn-prepend">
                            <i class="fa fa-user-o"></i>
                        </button>
                    </div>
                    <input name="name" type="text" class="form-control" value="{{user.name}}" placeholder="Username"
                        aria-label="Username" aria-describedby="basic-addon1" required>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label class="bmd-label-floating">Avatar</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button type="button" class="btn btn-prepend">
                            <i class="fa fa-file-image-o"></i>
                        </button>
                    </div>
                    <input type="file" class="form-control" placeholder="Image" id="editorAva" name="avatar"
                        aria-describedby="basic-addon1" value="{{user.avatar}}">
                </div>
            </div>

            <div class="col-md-6">
                <label class="bmd-label-floating">Gender</label>
                <div class="input-group mb-3">
                    <button type="button" class="btn btn-prepend">
                        <i class="fa fa-transgender"></i>
                    </button>
                    <select class="custom-select" id="genderInputGroup" name="Gender">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                    </select>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label class="bmd-label-floating">Address</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button type="button" class="btn btn-prepend">
                            <i class="fa fa-address-book-o"></i>
                        </button>
                    </div>
                    <input type="text" class="form-control" value="TPHCM" placeholder="Địa chỉ" aria-label="Address"
                        aria-describedby="basic-addon1">
                </div>
            </div>

            <div class="col-md-6">
                <label class="bmd-label-floating">Company</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button type="button" class="btn btn-prepend">
                            <i class="fa fa-building-o"></i>
                        </button>
                    </div>
                    <input type="text" class="form-control" value="HCMUS" placeholder="Company" aria-label="Company"
                        aria-describedby="basic-addon1">
                </div>
            </div>
        </div>

        <div style="display:flex; justify-content:center;" class="mt-4">
        <button type="submit" style="text-align:center" class="btn-blue">
            Update Profile
        </button>
        </div>


    </form>
    {{/ifvalue}}

    {{#ifvalue user.role equals="ADMIN"}}

    <nav class="navbar navbar-expand-lg">
        <h4>Chào Quản trị viên</h4>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarToggleExternalContent" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/writer"><b>
                            {{#if user }}
                            {{ user.name }}
                            {{else}}
                            Trang Editor
                            {{/if}}
                        </b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/employee/admins/logout"><b>Đăng
                            xuất</b></a>
                </li>
            </ul>
        </div>
    </nav>
    <form action="/employee/admins/dashboard/profile/{{user._id}}?_method=PUT" method="POST" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-12">
                <label class="bmd-label-floating">Email</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button type="button" class="btn btn-prepend">
                            <i class="fa fa-envelope-o"></i>
                        </button>
                    </div>
                    <input name="email" type="email" class="form-control" placeholder="Email" aria-label="Email"
                        aria-describedby="basic-addon1" value="{{user.email}}">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <label class="bmd-label-floating">User name</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button type="button" class="btn btn-prepend">
                            <i class="fa fa-user-o"></i>
                        </button>
                    </div>
                    <input name="name" type="text" class="form-control" value="{{user.name}}" placeholder="Username"
                        aria-label="Username" aria-describedby="basic-addon1" required>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label class="bmd-label-floating">Avatar</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button type="button" class="btn btn-prepend">
                            <i class="fa fa-file-image-o"></i>
                        </button>
                    </div>
                    <input type="file" class="form-control" placeholder="Image" id="adminAva" name="avatar" va
                        aria-describedby="basic-addon1" value="{{user.avatar}}">
                </div>
            </div>

            <div class="col-md-6">
                <label class="bmd-label-floating">Gender</label>
                <div class="input-group mb-3">
                    <button type="button" class="btn btn-prepend">
                        <i class="fa fa-transgender"></i>
                    </button>
                    <select class="custom-select" id="genderInputGroup" name="Gender">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                    </select>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label class="bmd-label-floating">Address</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button type="button" class="btn btn-prepend">
                            <i class="fa fa-address-book-o"></i>
                        </button>
                    </div>
                    <input type="text" class="form-control" value="TPHCM" placeholder="Địa chỉ" aria-label="Address"
                        aria-describedby="basic-addon1">
                </div>
            </div>

            <div class="col-md-6">
                <label class="bmd-label-floating">Company</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button type="button" class="btn btn-prepend">
                            <i class="fa fa-building-o"></i>
                        </button>
                    </div>
                    <input type="text" class="form-control" value="HCMUS" placeholder="Company" aria-label="Company"
                        aria-describedby="basic-addon1">
                </div>
            </div>
        </div>

        <div style="display:flex; justify-content:center;" class="mt-4">
        <button type="submit" style="text-align:center" class="btn-blue">
            Update Profile
        </button>
        <button type="button" style="text-align:center" class="btn-blue" onclick="window.location.href='/employee/admins/dashboard/changePass/{{user._id}}'">Chang password</button>
        </div>


    </form>
    {{/ifvalue}}
</div>