<div class="content">
    {{#ifvalue user.role equals="ADMIN"}}
    <nav class="navbar navbar-expand-lg">
        <h4>Chào Quản trị viên</h4>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarToggleExternalContent" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/writer"><b>
                            {{#if user }}
                            {{ user.name }}
                            {{else}}
                            Trang Quản trị
                            {{/if}}
                        </b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/employee/admins/logout"><b>Đăng
                            xuất</b></a>
                </li>
            </ul>
        </div>
    </nav>
    {{/ifvalue}}
    <h4>Category</h4>

    {{#if success_msg}}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ success_msg }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {{/if}}

    {{#if error_msg}}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ error_msg }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {{/if}}

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Created At</th>
                <th colspan="2"></th>
            </tr>
        </thead>

        <tbody>
            {{#each categories}}
            <tr>
                <td>{{name}}</td>
                <td>{{ generateTime createdAt "MMMM Do YYYY" }}</td>
                <td style="text-align: center;"><a href="/employee/admins/dashboard/category/edit/{{_id}}" class="btn btn-warning">Edit</a>
                </td>
                <td style="text-align: center;">
                    <form action="/employee/admins/dashboard/category/{{_id}}?_method=DELETE" method="POST">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>