<div class="content">
    {{#ifvalue user.role equals="WRITER"}}
    <nav class="navbar navbar-expand-lg">
        <h4>Chào phóng viên</h4>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarToggleExternalContent" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/writer"><b>
                            {{#if user }}
                            {{ user.name }}
                            {{else}}
                            Trang Writer
                            {{/if}}
                        </b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/employee/writers/logout"><b>Đăng
                            xuất</b></a>
                </li>
            </ul>
        </div>
    </nav>
    {{/ifvalue}}
    <h4>Create Post</h4>
    {{#each errors}}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {{/each}}
    <form action="/employee/writers/dashboard/create" method="POST" class="mt-3" enctype="multipart/form-data">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button type="button" class="btn btn-secondary">
                    <i class="fa fa-flag-o"></i>
                </button>
            </div>
            <input required type="text" class="form-control" placeholder="Tiêu đề" id="title" name="title"
                aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button type="button" class="btn btn-secondary">
                    <i class="fa fa-folder-o"></i>
                </button>
            </div>
            <select name="category" id="category" class="form-control">    
                {{#each categories}}
                    <option value="{{id}}">{{ name }}</option>
                {{/each}}
            </select>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button type="button" class="btn btn-secondary">
                    <i class="fa fa-tags"></i>
                </button>
            </div>
            <input required type="file" class="form-control" placeholder="Image" id="image" name="image"
                aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button type="button" class="btn btn-secondary">
                    <i class="fa fa-tags"></i>
                </button>
            </div>
            <input required type="text" class="form-control" placeholder="Gán nhãn" id="tag" name="tag"
                aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button type="button" class="btn btn-secondary">
                    <i class="fa fa-book"></i>
                </button>
            </div>
            <input required type="text" class="form-control" placeholder="Tóm tắt nội dung" id="content" name="subContent"
                aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button type="button" class="btn btn-secondary">
                    <i class="fa fa-book"></i>
                </button>
            </div>
            <select name="premium" id="premium" class="form-control">
                <option value="true">True</option>
                <option value="false">False</option>
            </select>
        </div>
        <textarea class="mb-3" id="editor" name="content" cols="150" rows="10">Noi dung chi tiet</textarea>
        <div class="mt-3">
            <button type="submit" class="btn-blue" value="">Đăng bài</button>
        </div>
    </form>
</div>